initialize()
{
    setSeed(23);
    if (!exists("TREES_FILE")) defineGlobal("TREES_FILE", "out.trees"); 
    initializeTreeSeq();
    initializeMutationType("m1", 0.5, "f", -0.1);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 99);
    initializeMutationRate(0.0);
    initializeRecombinationRate(0.0);
}

1 early() { 
    sim.addSubpop("p1", 10);
    for (k in seqLen(length(p1.genomes))) {
        genome = p1.genomes[k];
        genome.addNewMutation(m1, 0.0, k);
    }
}

10 late() {
    sim.treeSeqOutput(TREES_FILE);
    catn("Done.");
    sim.simulationFinished();
}
