initialize()
{
    setSeed(23);
    initializeTreeSeq();
    initializeMutationRate(1e-2);
    initializeMutationType("m1", 0.5, "f", -0.1);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 99);
    initializeRecombinationRate(1e-2);
}

1 late() { 
    // output immediately! Nothing should have changed.
    sim.readFromPopulationFile("restart_WF.init.trees");
    sim.treeSeqOutput("restart_WF.trees");
}

20 {
    catn("Done.");
    sim.simulationFinished();
}
