initialize()
{
    setSeed(23);
    initializeSLiMModelType("nonWF");
    initializeTreeSeq();
    initializeMutationRate(1e-2);
    initializeMutationType("m1", 0.5, "f", -0.1);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 99);
    initializeRecombinationRate(1e-2);
}

// output immediately! Nothing should have changed.
1 early() { 
  if (STAGE == "early") {
    sim.readFromPopulationFile("restart_nonWF.init.trees");
    sim.treeSeqOutput("restart_nonWF.trees", simplify=F);
  }
}

1 late() { 
  if (STAGE == "late") {
    sim.readFromPopulationFile("restart_nonWF.init.trees");
    sim.treeSeqOutput("restart_nonWF.trees", simplify=F);
  }
}

20 {
    catn("Done.");
    sim.simulationFinished();
}
