autodocsumm==0.1.13 #Pinned as errors on 0.2.0
breathe==4.24.0
flake8==3.8.4
pytest==6.2.2
pytest-cov==2.10.1
pytest-xdist==2.1.0
sphinx==3.3.1
sphinx-argparse==0.2.5
sphinx-issues==1.2.0
sphinx_rtd_theme==0.5.0
jupyter-book==0.10.0
matplotlib==3.4.0
xmlunittest==0.5.0
numpy
filelock
kastore
pandas
